[Desktop Entry]
Name=APE
Comment=Advanced Petri networks Environment
Exec=ape
Type=Application
Terminal=false
Categories=Qt;Education;Science;
Icon=ape
# vi: encoding=utf-8
